<p>
  <b>Milk:</b>
  <%=h @item.milk %>
</p>

<p>
  <b>Size:</b>
  <%=h @item.size %>
</p>

<p>
  <b>Drink:</b>
  <%=h @item.drink %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>